.navbar-logo{
  display: flex;
  justify-content:center;
  margin-bottom: 0.5rem;
}

.navbar-logo img{
  height: 60px;
}

.navbar-brand{

}

.card{
    background-color: #ffe4e1; 
    color: #bd2c61;
}

.bg-custom-success {
  background-color: #D97392;
}

.btn.btn-primary.btn-sm{
  background-color: teal;
  color: black;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 8px;
}

.btn.btn-primary.btn-sm:hover{
  background-color: darkslategray;
  border-color: darkslategray;
}

.btn.btn-secondary.btn-sm{
  background-color: teal;
  color: black;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 8px;

}

.btn.btn-secondary.btn-sm:hover{
  background-color: darkslategray;
  border-color: darkslategray;
}

.nav-link{
  display: flex;
  align-items: right;
  color:white;
  background-color: brown;
  border-radius: 8px;
  border: solid 4px brown;
}

.nav-text{
  padding: 5px;
  font-family:  'Poppins', 'Inter', sans-serif;
}

.nav-icon{
  width:34px;
  height:34px;
}

.character-bar{
  background-color: #e5727c;
  font-size: 30px;
}

.character-bar-text{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family:'Poppins', 'Inter', sans-serif;
}
